extends layoutAdmin

block body

  if subcategory
    .lightbox#delete-item__lightbox
      .lightbox__window
        h4 Are you sure you want to delete this item?
        p This action is not reversible.
        p.bold= subcategory.title
        .lightbox__window--buttons
          span(onclick='toggleDeleteConfirmation()') Cancel
          a.button.button__red.no-margin(href=`/dashboard/subcategories/delete/${subcategory._id}`) Delete

  .space-between
    div
      a(href='/dashboard/subcategories') << Back to Subcategories
    if subcategory
      if subcategory.pageURL
        div
          a(href=subcategory.pageURL target='_blank') View public page >>
      else 
        div Choose a Category to enable this Subcategory

  form.admin__form.edit-subcategory(name='subcategory' onsubmit='submitForm(event)')
    if subcategory && subcategory.title
      h1= subcategory.title
    else
      h1 New Subcategory
    .split-columns
      div
        .label-and-input
          label(for='title') Title
          input(name='title' type='text' value=(subcategory ? subcategory.title : '') required)
        .label-and-input
          label(for='shortDescription') Short Description
          textarea(name='shortDescription' rows='3')= subcategory ? subcategory.description.short : ''
        .label-and-input
          label(for='longDescription') Expanded Description
            span.label__subtitle Revealed when 'Read More' is clicked on subcategory page
          textarea(name='longDescription' rows='10')= subcategory ? subcategory.description.long : ''
        .label-and-input
          label(for='metaTitle') Meta Title
          span.link#copy-from-title Copy from Title
          input(name='metaTitle' type='text' value=(subcategory ? subcategory.meta.title : '') required)
        .label-and-input
          label(for='metaDescription') Meta Description
          span.link#copy-from-description Copy from Description
          textarea(name='metaDescription' required rows='3')= subcategory ? subcategory.meta.description : ''
      div
        .label-and-input
          label Category
          select(name='category')
            option(name='test' value='') No category
            for category in globalCategories
              option(
                name=category.title
                value=category._id
                selected=(subcategory && subcategory.category ? subcategory.category.id === category.id : false)          
                )= category.title

        .label-and-input
          label Main image
          if subcategory && subcategory.hasImage
            span.file-uploaded
              img(src='/images/icons/check-green-circle.svg')
              span Image uploaded              
          input(name='coverImage' type='file' accept='image/*')        

        .image-preview(hidden=!(subcategory && subcategory.hasImage))
          label Image preview
            span.label__subtitle Cropped to 5:3 ratio on subcategory page to avoid large headings
          .image-preview__cropped
            img(src=(subcategory && subcategory.hasImage ? subcategory.mainImageURL : ''))

        if subcategory && subcategory.hasImage
          .checkbox
            input(name='deleteImage' type='checkbox')
            label(for='deleteImage') Delete Image

    .edit-linked__listings
      label Manage Products
      input(name='productDropdown' 
            type='text' 
            autocomplete="off"
            placeholder="Start typing a product name...")
      .edit-linked__listings--autocomplete
        div
          span Select product
          ul 
      .edit-linked__listings--container
        if subcategory && subcategory.products
          for product in subcategory.products
            div(data-id=product.id)
              span= product.title
              div
                a(href=product.editURL class="button" target="_blank") Edit Product
                span(onclick="removeProduct(event)") Remove

    .admin__upload-progress
      h5 Uploading files...
      progress(value='0' max='1')
    .admin__errors
    .admin__save-buttons
      if subcategory
        button.button__green(type='submit') Save Changes
        .button.button__red(onclick='toggleDeleteConfirmation()') Delete subcategory
      else
        button.button__green(type='submit') Add subcategory
        
block extraFooterScripts
  script
    include ../../public/js/admin/edit-subcategory.js
  script(src='https://unpkg.com/axios/dist/axios.min.js' async defer)