extends layout

block body
  .category__header
    .container
      h1= title
      //- if subcategory && subcategory.hasImage
      //-   .category__header--image(
      //-     style=`background-image: url('${subcategory.mainImageURL}');`
      //-   )
      //- else if category.hasImage
      //-   .category__header--image(
      //-     style=`background-image: url('${category.mainImageURL}');`
        )
  .container
    .category__description
      if subcategory && subcategory.description && subcategory.description.short
        p= subcategory.description.short
        if subcategory.description.long
          p= subcategory.description.long
          .category__description--read-more
      else if category.description
        p= category.description.short
        if category.description.long
          p= category.description.long
          .category__description--read-more 
  .container
    .category
      .category__filter
        if category.subcategories
          form.category__filter--subcategories
            h4 Subcategories
            for subcategory in category.subcategories
              - const currentSubcategory = subcategory.pageURL === currentPath
              //- Deselect current subcategory when clicked
              a(href=(currentSubcategory ? category.pageURL : subcategory.pageURL)
                class=(currentSubcategory ? "active" : ""))
                label= subcategory.title
                  .checkbox
        
        form(name="search" method="GET").category__filter--search
          h4 Category Search
          .category__filter--search--input
            input(name="search" type="text" placeholder="Find a product..." value=query.search)
            button(type="submit")
              img(src="/images/icons/search.svg" alt="Search")
        
        .category__filter--popular-categories
          h3 Popular Products
          ul.popular-products
            for subcategory in settings.popularProducts
              li 
                a(href=subcategory.pageURL)
                  span= truncate(subcategory.title, 24)

      .category__results
        .category__results--filters
          form(name="sort" method="GET")
            label Sort By
            select(name="sortBy")
              option(value="az" selected=(query.sortBy === "az")) Name A-Z
              option(value="za" selected=(query.sortBy === "za")) Name Z-A
          if pages
            .pagination
              label Page
              - let n = 1
              while n < pages.total
                - query.page = n
                -
                  const queryString = query ? "?" + Object.keys(query)
                    .map(key => key + '=' + query[key])
                    .join('&') : ""
                - const active = n == pages.current
                - const link = `/categories/${category}/${subcategory}${queryString}`
                a(class=(active ? "active" : "") href=link).pagination__link= n++
        .category__results--listings
          if products && products.length > 0
            for product in products
              +categoryListing(product)
          else
            - const extraText = query.search ? ` with name '${query.search}'` : ''
            h5= "No products found" + extraText

block extraFooterScripts
  script
    include ../public/js/category-page.js