extends layout

block body
  .home__slider
    .home__slider--blue-strip
      .container
        .home__slider--carousel
          //- Control slider images in critical.styl
          a.home__slider--carousel--image(href="/categories/decontamination-showers/emergency-drench-showers")
          a.home__slider--carousel--image(href="/categories/vacuum-cleaners")
          a.home__slider--carousel--image(href="/about")

  .container
    .home__promoted
      .home__promoted--left-column
        .home__promoted--left-column--popular-products
          .home__promoted--left-column--popular-products--title
            h4 Equipment for Hire
          .category-listings
            for category in globalCategories
              a.category-listings__entry(
                href=category.pageURL
                style=`background-image: url(${category.mainImageThumbnailURL});`
              )
                .category-listings__entry--label
                  h3= category.title            
                
      .home__promoted--right-column
        h4 Products by Industry
        .home__promoted--right-column--industries
          ul
            for industry in globalIndustries
              li
                a(href=industry.pageURL)
                  span= industry.title
          .home__promoted--right-column--industries--live-chat
            img(src="/images/homepage/advisor.jpg")
            .home__promoted--right-column--industries--live-chat--text
              div
                h4 NEED ADVICE?
                h3 Speak to an advisor online
              .button.live-chat__start-button
                span Start Live Chat
                img(src="/images/icons/chat.svg" alt="Live Chat Icon")
                
  .home__split-strip
    .home__split-strip--environment-background
    .container
      .home__split-strip--popular-categories
        .home__split-strip--popular-categories--title
          h4 Popular Products
        ul.popular-products
          for subcategory in settings.popularProducts
            li 
              a(href=subcategory.pageURL)
                span= truncate(subcategory.title, 28)
      .home__split-strip--environment
        p For over 25 years we’ve helped contractors across the UK to protect the environment
        a.button.button__arrow(href="/about") More about Envirogard
  
  +branchFinder

block extraFooterScripts
  script
    include ../public/js/flickity-init.js
  script(src=hashes["flickity.js"] async defer onload="flickityInit()")