extends layout

block body
  .category__header
    .container
      h1= industry.title
      if industry.hasImage
        .category__header--image(
          style=`background-image: url('${industry.mainImageURL}');`
        )
  .container.industry
    .page-columns
      .page-columns__column !{industry.description}
      .page-columns__column
        if industry.subcategories && industry.subcategories.length > 0
          h5= `Hire ${industry.title} equipment`
          ul.popular-products
            for subcategory in industry.subcategories
              li 
                a(href=subcategory.pageURL target='_blank')
                  span= subcategory.title