extends layout

block body
  .container
    //- Breadcrumbs
    ul.breadcrumbs
      li
        a(href="/") Home
      if (product.subcategory)
        if (product.subcategory.category)
          li
            a(href=product.subcategory.category.pageURL)= product.subcategory.category.title
        li
          a(href=product.subcategory.pageURL)= product.subcategory.title
      li= product.title
  .container.product
    .product__left-column
      if product.images
        if product.images.length > 0
          .product__carousel
            //- Large (currently selected) image
            .product__carousel--current
              for image in product.images
                .product__carousel--current--image
                  img(src=`/cms/products/${product._id}/images/${image}.jpg`)
            //- Small navigation images
            .product__carousel--nav
              for image in product.images
                .product__carousel--nav--image
                  img(src=`/cms/products/${product._id}/images/${image}-thumb.jpg`)     
        else
          img(src='/images/default/no-image-large.png')

      .product__long-description
        //- Youtube embed
        if product.youtubeID
          iframe(class="product__youtube-embed" width="560" height="315" src=`https://www.youtube.com/embed/${product.youtubeID}` frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
        if product.description.long
          h2= `About ${product.title}`
          .pell-client !{product.description.long}

      //- Download manual
      if product.manualPDF
        a.button.button__yellow.bold(href=product.manualURL target="_blank") 
          span Download Manual
          img(src="/images/icons/download-blue.svg" alt="Download Icon")

    .product__right-column
      .product__description
        h1= product.title
        p= product.description.short
        if product.features && product.features.length > 0
          ul
            for feature in product.features
              li= feature
      .product__block
        h3.product__block--title Hire Product
        .product__block--content
          .product__block--content--branch-finder
            .product__block--content--branch-finder--text
              h4 Find Your Nearest Envirogard
              p Please select your nearest Envirogard to make an enquiry.
              select(name="branch")
                option(value="north-west") Manchester
                option(value="north-east") Barnsley
                option(value="midlands") Tamworth
                option(value="south-west") Bristol
                option(value="south-east" selected) Ashford
            .product__block--content--branch-finder--map
              +branchFinderSVG
          .product__block--content--entry(data-area="north-west")
            .product__block--content--entry--area
              .product__block--content--entry--area--title
                img(src="/images/logos/envirogard-wordmark-blue.svg" alt="Envirogard Logo")
                h5 Manchester
              a.button.button__yellow(href="https://www.google.com/maps/place/Ashton-under-Lyne+OL7+0NE/@53.4762905,-2.1226783,13.5z/data=!4m5!3m4!1s0x487bb66028e96d55:0xe7099f00a380e927!8m2!3d53.4780029!4d-2.1066982" target="_blank") Get Directions
            .product__block--content--entry--hire-options
              h5 Hire Options
              ul
                li
                  span 1
                  div
                    h6 Call Envirogard Manchester
                    a(href="tel:01613208587") 
                      img(src="/images/icons/phone.svg") 
                      span 0161 320 8587
                li
                  span 2
                  div
                    h6 Email Envirogard Manchester
                    a(href="mailto:manchester@envirogard.co.uk") 
                      img(src="/images/icons/mail-blue.svg") 
                      span manchester@envirogard.co.uk
                li
                  span 3
                  div
                    h6 Chat to Envirogard Manchester
                    .button.button__yellow.live-chat__start-button 
                      img(src="/images/icons/chat-black.svg")
                      span Start Live Chat
          .product__block--content--entry(data-area="north-east")
            .product__block--content--entry--area
              .product__block--content--entry--area--title
                img(src="/images/logos/envirogard-wordmark-blue.svg" alt="Envirogard Logo")
                h5 Barnsley
              a.button.button__yellow(href="https://www.google.com/maps/place/Envirogard+Specialist+Hires+Ltd/@53.504267,-1.474651,12z/data=!4m8!1m2!2m1!1senvirogard!3m4!1s0x0:0x1957859213dc1dd5!8m2!3d53.507729!4d-1.4441892" target="_blank") Get Directions
            .product__block--content--entry--hire-options
              h5 Hire Options
              ul
                li
                  span 1
                  div
                    h6 Call Envirogard Barnsley
                    a(href="tel:01226740900") 
                      img(src="/images/icons/phone.svg") 
                      span 0122 674 0900
                li
                  span 2
                  div
                    h6 Email Envirogard Barnsley
                    a(href="mailto:barnsley@envirogard.co.uk") 
                      img(src="/images/icons/mail-blue.svg") 
                      span barnsley@envirogard.co.uk
                li
                  span 3
                  div
                    h6 Chat to Envirogard Barnsley
                    .button.button__yellow.live-chat__start-button Start Live Chat
          .product__block--content--entry(data-area="midlands")
            .product__block--content--entry--area
              .product__block--content--entry--area--title
                img(src="/images/logos/envirogard-wordmark-blue.svg" alt="Envirogard Logo")
                h5 Tamworth
              a.button.button__yellow(href="https://www.google.com/maps/place/Envirogard/@52.627345,-1.7032734,13.69z/data=!4m8!1m2!2m1!1senvirogard!3m4!1s0x0:0x95974b8a36eebf32!8m2!3d52.6272282!4d-1.6858864" target="_blank") Get Directions
            .product__block--content--entry--hire-options
              h5 Hire Options
              ul
                li
                  span 1
                  div
                    h6 Call Envirogard Tamworth
                    a(href="tel:01827304955") 
                      img(src="/images/icons/phone.svg") 
                      span 01827 304955
                li
                  span 2
                  div
                    h6 Email Envirogard Tamworth
                    a(href="mailto:tamworth@envirogard.co.uk") 
                      img(src="/images/icons/mail-blue.svg") 
                      span tamworth@envirogard.co.uk
                li
                  span 3
                  div
                    h6 Chat to Envirogard Tamworth
                    .button.button__yellow.live-chat__start-button Start Live Chat
          .product__block--content--entry(data-area="south-west")
            .product__block--content--entry--area
              .product__block--content--entry--area--title
                img(src="/images/logos/envirogard-wordmark-blue.svg" alt="Envirogard Logo")
                h5 Bristol
              a.button.button__yellow(href="https://www.google.com/maps/place/51%C2%B029'20.7%22N+2%C2%B024'38.0%22W/@51.4952989,-2.4509514,19063m/data=!3m1!1e3!4m5!3m4!1s0x0:0x0!8m2!3d51.4890691!4d-2.41056" target="_blank") Get Directions
            .product__block--content--entry--hire-options
              h5 Hire Options
              ul
                li
                  span 1
                  div
                    h6 Call Envirogard Bristol
                    a(href="tel:01179374551") 
                      img(src="/images/icons/phone.svg") 
                      span 0117 937 4551
                li
                  span 2
                  div
                    h6 Email Envirogard Bristol
                    a(href="mailto:bristol@envirogard.co.uk") 
                      img(src="/images/icons/mail-blue.svg") 
                      span bristol@envirogard.co.uk
                li
                  span 3
                  div
                    h6 Chat to Envirogard Bristol
                    .button.button__yellow.live-chat__start-button Start Live Chat
          .product__block--content--entry(data-area="south-east")
            .product__block--content--entry--area
              .product__block--content--entry--area--title
                img(src="/images/logos/envirogard-wordmark-blue.svg" alt="Envirogard Logo")
                h5 Ashford
              a.button.button__yellow(href="https://www.google.com/maps/place/Envirogard+Specialist+Hires+Ltd/@51.1123214,0.9327298,13.19z/data=!4m8!1m2!2m1!1senvirogard!3m4!1s0x0:0xd5202315313f2ab4!8m2!3d51.1147306!4d0.9482574" target="_blank") Get Directions
            .product__block--content--entry--hire-options
              h5 Hire Options
              ul
                li
                  span 1
                  div
                    h6 Call Envirogard Ashford
                    a(href="tel:01303814930") 
                      img(src="/images/icons/phone.svg") 
                      span 01303 814930
                li
                  span 2
                  div
                    h6 Email Envirogard Ashford
                    a(href="mailto:ashford@envirogard.co.uk") 
                      img(src="/images/icons/mail-blue.svg") 
                      span ashford@envirogard.co.uk
                li
                  span 3
                  div
                    h6 Chat to Envirogard Ashford
                    .button.button__yellow.live-chat__start-button Start Live Chat
      if product.specifications && product.specifications.length > 0
        .product__block
          h3.product__block--title Product Specifications
          .product__block--content
            ul.product__block--content--specifications
              for specification in product.specifications
                li
                  span= specification[0]
                  span= specification[1]

    //- Related Products
    if product.subcategory && product.subcategory.products
      -
        const relatedProducts = product.subcategory.products
          .filter(relatedProduct => {
            relatedProduct._id.toString() !== product._id.toString()
          })
      if relatedProducts.length > 0
        .product-listings
          h4 Related Products
          for relatedProduct in relatedProducts
            +productListingCard(relatedProduct)

block extraFooterScripts
  script
    include ../public/js/flickity-init-product.js
  script
    include ../public/js/flickity-as-nav-for.js
  script(src=hashes["flickity.js"] async defer onload="flickityInit()")