extends layout

block body
  .page-header
    .container
      h1 Search Products
  .container.search
    .page-columns
      form.search__global
        label Search Envirogard Products...
        input(
          type="text" 
          name="searchPhrase" 
          value=(query.searchPhrase || '')
          placeholder="Search Envirogard Products..."
        )
        button(type="submit") 
          img(src="/images/icons/search.svg" alt="Search")
        if products.length === 0 && query.searchPhrase
          h5 No products found for '#{query.searchPhrase}'
          
      if products.length > 0 && query.searchPhrase
        h5 Found #{products.length} product#{products.length > 1 ? 's' : ''} 
          if query.searchPhrase
            span for '#{query.searchPhrase}'
        for product in products
          +categoryListing(product, true)