mixin nav
  -
    const clientDepot = cookies && cookies.locationDepot ? cookies.locationDepot : "south-east"
    let depotInfo = depotData[clientDepot]
    if (!depotInfo) depotInfo = depotData['south-east']

  nav
    if user
      +adminBar
    .nav
      .container
        a(href="/")
          img.nav__logo(src="/images/logos/main-logo.svg" alt="Main Logo")
        form.nav__search
          input(
            type="text" 
            name="globalSearch" 
            value=(query.globalSearch || '')
            placeholder="Search Envirogard Products..."
          )
          button(type="submit") 
            img(src="/images/icons/search.svg" alt="Search")
        .nav__menu
          ul.nav__menu--useful-links
            li
              a(href="/about") About
            li
              a(href="/contact") Contact
            //- Changes depot drop-down menu
            li.nav__menu--branch
              span.nav__menu--branch--name= depotInfo.name
              span.nav__menu--branch--change (Change)
                img(src="/images/icons/triangle-blue.svg" alt="Drop-down")
                ul
                  for depot, area in depotData
                    - const active = clientDepot === area ? 'active' : ''
                    li(data-area=area class=active)= depot.name
          a.nav__menu--search-mobile(href='/search')
            img(src="/images/icons/search-blue.svg" alt="Search")
          a.nav__menu--contact-mobile(href='/contact')
            img(src="/images/icons/phone.svg" alt="Contact Us")
          .nav__menu--contact
            a.nav__menu--contact--phone(href=`tel:${depotInfo.telephone}`)
              img(src="/images/icons/phone.svg" alt="Call Us")  
              for depot, area in depotData
                - const active = clientDepot === area ? 'active' : ''
                span(data-area=area class=active)= depot.telephone
            a.nav__menu--contact--email(href=`tel:${depotInfo.email}`)
              for depot, area in depotData
                - const active = clientDepot === area ? 'active' : ''
                span(data-area=area class=active)= depot.email

    .nav__secondary
      .container
        div
          span.nav__secondary--dropdown.hide__desktop Hire Equipment
          ul.nav__secondary--products
            for category in globalCategories
              li
                a(href=category.pageURL)= category.title
                if category.subcategories
                  ul
                    for subcategory in category.subcategories
                      li
                        a(href=subcategory.pageURL)= subcategory.title
                  
          span.nav__secondary--dropdown.hide__desktop Browse by Industry
          ul.nav__secondary--industries
            li
              span Browse by Industry
              ul
                for industry in globalIndustries
                  li
                    a(href=industry.pageURL)= industry.title
        div.hide__tablet
          ul
            li.live-chat__start-button
              a(href="/contact")
                img(src="/images/icons/chat.svg" alt="Live Chat Icon")
                span Live Chat