mixin nav
  - const clientDepot = cookies && cookies.locationDepot ? cookies.locationDepot : "south-east"
  - const depotInfo = depotData[clientDepot]
  nav
    .nav
      .container
        a(href="/")
          img.nav__logo(src="/images/logos/main-logo.svg" alt="Main Logo")
        form.nav__search
          input(type="text" name="globalSearch" placeholder="Search Envirogard...")
          button(type="submit") 
            img(src="/images/icons/search.svg" alt="Search")
        .nav__menu
          ul.nav__menu--useful-links
            li
              a(href="/about") About
            li
              a(href="/contact") Contact
            //- Changes depot drop-down menu
            li.nav__menu--branch
              span.nav__menu--branch--name= depotInfo.name
              span.nav__menu--branch--change (Change)
                img(src="/images/icons/triangle-blue.svg" alt="Drop-down")
                ul
                  for depot, area in depotData
                    - const active = clientDepot === area ? 'active' : ''
                    li(data-area=area class=active)= depot.name
          a.nav__menu--search-mobile(href='/search')
            img(src="/images/icons/search-blue.svg" alt="Search")
          .nav__menu--contact
            a.nav__menu--contact--phone(href=`tel:${depotInfo.telephone}`)
              img(src="/images/icons/phone.svg" alt="Call Us")  
              for depot, area in depotData
                - const active = clientDepot === area ? 'active' : ''
                span(data-area=area class=active)= depot.telephone
            a.nav__menu--contact--email(href=`tel:${depotInfo.email}`)
              for depot, area in depotData
                - const active = clientDepot === area ? 'active' : ''
                span(data-area=area class=active)= depot.email

    .nav__secondary
      .container
        div
          span.nav__secondary--dropdown.hide__desktop Hire Equipment
          ul.nav__secondary--products
            li
              a(href="/category/decontamination-units") Decontamination Units
              ul
                li
                  a(href="/category/decontamination-units/subcategory") Emergency Drench Showers
                li
                  a(href="/category/decontamination-units/subcategory") Modular Decontamination Showers
                li
                  a(href="/category/decontamination-units/subcategory") Showers &amp; Toilets
                li
                  a(href="/category/decontamination-units/subcategory") Trailer Decontamination Showers
            li
              a(href="/category/decontamination-units") Ventilation &amp; Dust Control
              ul
                li
                  a(href="/category/decontamination-units/subcategory") Water Misting Cannons
                li
                  a(href="/category/decontamination-units/subcategory") Air Scrubbing Units
                li
                  a(href="/category/decontamination-units/subcategory") Ventsafe Dust Extractors
                li
                  a(href="/category/decontamination-units/subcategory") Fans &amp; Fume Extractors
                li
                  a(href="/category/decontamination-units/subcategory") Air Ventilators
                li
                  a(href="/category/decontamination-units/subcategory") Negative Pressure Units
                li
                  a(href="/category/decontamination-units/subcategory") Fibre Suppressant Equipment
            li
              a(href="/category/decontamination-units") Vacuum Cleaners
              ul
                li 
                  a(href="/category/decontamination-units/subcategory") Clean Room Vacuums
                li 
                  a(href="/category/decontamination-units/subcategory") HML HEPA Vacuums
                li 
                  a(href="/category/decontamination-units/subcategory") Type H Vacuums
                li 
                  a(href="/category/decontamination-units/subcategory") Wet Pick Up Vacuums
            li
              a(href="/category/decontamination-units") Testing &amp; Monitoring
              ul
                li 
                  a(href="/category/decontamination-units/subcategory") Differential Pressure Monitors
                li 
                  a(href="/category/decontamination-units/subcategory") Readout &amp; Alarm Systems
                li 
                  a(href="/category/decontamination-units/subcategory") Smoke Generators
            li
              a(href="/category/decontamination-units") Temporary Site Services
              ul
                li 
                  a(href="/category/decontamination-units/subcategory") Water Bowsers
                li 
                  a(href="/category/decontamination-units/subcategory") Portable Generators
                li 
                  a(href="/category/decontamination-units/subcategory") Pumps &amp; Pressure Washers
                li 
                  a(href="/category/decontamination-units/subcategory") Site Electrics
                li 
                  a(href="/category/decontamination-units/subcategory") Bootwash
          span.nav__secondary--dropdown.hide__desktop Browse by Industry
          ul.nav__secondary--industries
            li
              span Browse by Industry
              ul
                li 
                  a(href="/industry/industry") Pollution Control
                li 
                  a(href="/industry/industry") Asbestos Removal
                li 
                  a(href="/industry/industry") Demolition
                li 
                  a(href="/industry/industry") Contaminated Land
                li 
                  a(href="/industry/industry") Tank Purging
        div.hide__tablet
          ul
            li.live-chat__start-button
              a(href="/contact")
                img(src="/images/icons/chat.svg" alt="Live Chat Icon")
                span Live Chat