h3 Newsletter enquiry from #{firstName} #{lastName}
p #[strong Name:] #{firstName} #{lastName}
p #[strong Email:] #{email}
p #[strong Business Name:] #{businessName}
p #[strong Business Nature:] #{businessNature}