mixin branchFinderSVG
  .branch-finder__map
    object(
      data='/images/branch-finder/branch-finder-map.svg'
      type="image/svg+xml"
      width="0"
      height="0"
      onload="mapLoaded()"
    )